{% extends 'base.html' %}

{% block main %}

<h2> Uploaded files </h2>

<p>Files: {{ files }}</p>
<ul>
{% for fs in files %}
{% if not (fs.lower().endswith(('.png','.jpg', '.jpeg'))) %}
    <li> {{fs}} </li>
{% endif %}   
{% endfor %}
</ul>

<h1>Uploaded Images </h1>
{% for f in files %}
{% if (f.lower().endswith(('.png', '.jpg', '.jpeg'))) %}
    <div class="col-md-4">
      <div>
        <img src="{{ url_for('static', filename='uploads/') }}{{ f }}" alt="{{ f }}"
             style="height: 200px; width: 100%;">
          <div class="caption">
            <p>{{ f }}</p>
          </div>      
      </div>
    </div>    
{% endif %}
{% endfor %}

{% endblock %}